*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("https://images.pexels.com/photos/2166711/pexels-photo-2166711.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500")no-repeat;
    background-size: cover ;
}

.clock{
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(14, 13, 13, 0.1),
    0px 10px 20px rgba(8, 8, 8, 0.7);
    height: 24vh;
    border-radius: 12px;
    padding: 20px;

}

.clock h1{
    font-size: 3.5rem;
    font-weight: 600;

}

.clock span{
    position: relative;
    top: -13%;
    margin-left: 5px;
    font-size: 20px;
    font-weight: 700;
    align-items: center;
}



@media screen and (max-width:440px){
    .clock{
        max-width: 210px;
        padding: 5px;
    }
    .clock h1{
        font-size: 1.9rem;
       
    }
    
}

@media screen and(min-width : 270px) and (max-width:440px){
    .clock{
        max-width: 260px;
        padding: 5px;
    }
    .clock h1{
        font-size: 2.4rem;
    }
    
}